{% extends "base.html" %}
{% block title %}Mon CV{% endblock %}
{% block content %}
<h2>Parcours Professionnel et Scolaire</h2>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="btn btn-outline-secondary" data-toggle="tab" href="#pro">Expériences professionnelles</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-outline-secondary" data-toggle="tab" href="#scolaire">Diplômes & Formations</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active show" id="pro">
        {% for experience in experiences %}
        <div class="jumbotron">
            <h2 class="display-3">{{ experience.fonction }}</h2>
            <h3 class="display-5">De {{ experience.debut }} à {{ experience.fin }}</h3>
            <h4 class="display-7">{{ experience.employeur }} à {{ experience.ville }}</h4>
            <hr class="my-4">
            <p class="lead">{{ experience.description|linebreaksbr}}</p>
        </div>
        {% endfor %}
    </div>
    <div class="tab-pane fade" id="scolaire">
        {% for diplome in diplomes %}
        <div class="jumbotron">
            <h2 class="display-3">{{ diplome.intitule }}</h2>
            <h3 class="display-5">De {{ diplome.debut }} à {{ diplome.fin }}</h3>
            <h4 class="display-7">{{ diplome.ecole }} à {{ diplome.ville }}</h4>
            <fieldset class="form-group">
                <legend>Diplôme Obtenu</legend>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" disabled="" checked="">
                        Oui
                    </label>
                </div>
                <div class="form-check disabled">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" disabled="">
                        Non
                    </label>
                </div>
            </fieldset>
            <hr class="my-4">
            <p class="lead">{{ diplome.description|linebreaksbr }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}